# General
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Java / Spring Boot
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.iml
.idea/
.gradle/
build/
target/
out/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.springBeans
.sts4-cache/
.apt_generated
.factorypath
.settings
.classpath
.project
.vscode/
*.hprof

# React / Node.js
node_modules/
/restaurant-frontend/node_modules
/restaurant-frontend/.pnp
/restaurant-frontend/.pnp.js
/restaurant-frontend/coverage
/restaurant-frontend/build
/restaurant-frontend/.env.local
/restaurant-frontend/.env.development.local
/restaurant-frontend/.env.test.local
/restaurant-frontend/.env.production.local
/restaurant-frontend/npm-debug.log*
/restaurant-frontend/yarn-debug.log*
/restaurant-frontend/yarn-error.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / Editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
.ionide
.idea/
*.iml
*.ipr
*.iws
.idea_modules/
*.sublime-workspace
.history
.atom/
.buildlog/

# Testing
/coverage

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Misc
.sass-cache/
connect.lock
libpeerconnection.log
testem.log
/typings